server/HELP.md
.gradle
build/
!server/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/application-secret.properties
**/data.sql
generated

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
**/generated_tests

### IntelliJ IDEA ###
server/.idea
*.iws
*.iml
*.ipr
server/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### .RUN ###
Application.run.xml

### localhost.p12
localhost.p12

## google sheet credentials
firebase_service_key.json
**/firebase_service_key.json

**/.env

.idea/**